body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    background-color: black;
    color: blanchedalmond;
}

input{
    border-radius: 20px;
    height: 60px;
    width: 100px;
    color:chocolate;
    font-size: 30px;
    font-weight:bold;
    padding-left: 50px;
}

span{
    color:cornflowerblue
}